# OSX
.DS_Store

# IDE
.idea

# VSCode
.vscode/
jsconfig.json

# NPM file created by GitHub actions
.npmrc

# node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
dist/

# Ignore actionlint binary and any leftover directories related to installing it
actionlint*
!actionlint_checksums.txt
