# OSX
.DS_Store

# IDE
.idea

# VSCode
.vscode/
jsconfig.json

# JavaScript
node_modules/
dist/

# Ignore actionlint binary and any leftover directories related to installing it
actionlint*
!scripts/actionlint.sh
!scripts/actionlint_checksums.txt
